.cadastrocontainer {
    background-color: #bb0b0b6f; /* Define a cor do container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Define a sombra do container */
    width: 700px;
    margin-top: 100px;
    margin-left: 400px;
}

.labelscadastro {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os labels */
}

.labelscadastro label {
    display: flex;
    flex-direction: column; /* Organiza em coluna */
    font-weight: bold; /* Deixa a letra em negrito */
    font-size: 15px; /* Tamanho da letra */ 
}

.labelscadastro input {
    width: 400px;
    height: 35px;
    border-radius: 8px;
    margin-top: 5px;
    border: none;
}

.botaocadastrar {
    width: 150px;
    height: 35px;
    background-color: #007bff; /* Define cor do botão */
    border: none; /* Tira a borda do botão */
    border-radius: 10px; /* Arredonda a borda */
    color: white; /* Define cor da letra */
    font-size: 16px;
    margin-top: 10px;
    margin-left: 130px;
    margin-bottom: 20px;
    align-self: center; /* Centraliza o botão dentro do contêiner */
}

.titulocadastro {
    font-size: 20px; 
    font-weight: bold;
    color: black;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 20px; /* Espaçamento abaixo do título */
    margin-top: 20px;
    margin-left: 50px;
}

.senailogo{
    width: 170px;
    margin-top: 25px;
    margin-left: 100px;
}

.possuocadastro{
    font-size: 12px;
    color: black;
    
}