
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 600px;
}

.logincontainer{
    display: flex;
    justify-content: center;
    margin-top: 220px;
}

.fundologin{
    background-color: #bb0b0b6f;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.email,
.senha{
    width: 400px;
    height: 35px;
    border-radius: 10px;
    background-color: white;
    display: flex;
     border: none;
}

.labelemail,
.labelsenha{
    color: black;
    font-weight: bold;
}

.botaoentrar{
    border-radius: 10px;
    width: 200px;
    height: 35px;
    margin-top: 15px;
    color: white;
    background-color: #007bff;
    border: none;
}

.titulologin{
    font-size: 20px; 
    font-weight: bold;
    color: black;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

.linkcadastro{
    font-size: 11px;
    color: black;
}

.senailogologin{
    width: 170px;
    margin-top: 25px;
    margin-bottom: 10px;
}