
.cardsieleimec2{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cardieleimec2{
    width: 258px;
    height: 170px;
    margin-left: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    background-color: #bb0b0b56;
   
}


.tituloieleimec2 h1{
    font-size: 25px;
}

.tituloieleimec2{
    margin-left: 10px;
    margin-top: 10px;
}

.imgieleimec2{
    display: flex;
    margin-left: 18px;
    margin-top: 20px;
}

.nomeieleimec2{
    font-weight: bold;
    margin-left: 10px;
    margin-top: 25px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.infosieleimec2{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 13px;
    display: flex; 
    flex-direction: column;
}

.botaoconsultas{
    border-radius: 10px;
    width: 90px;
    height: 25px;
    color: white;
    background-color: #bb0b0b;
    border: none;
    font-size: 12px;
}