
.cardsidev3{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cardidev3{
    width: 258px;
    height: 170px;
    margin-left: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    background-color: #bb0b0b56;
   
}


.tituloidev3 h1{
    font-size: 25px;
}

.tituloidev3{
    margin-left: 10px;
    margin-top: 10px;
}

.imgidev3{
    display: flex;
    margin-left: 18px;
    margin-top: 20px;
}

.nomeidev3{
    font-weight: bold;
    margin-left: 10px;
    margin-top: 25px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}

.infosidev3{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 13px;
    display: flex; 
    flex-direction: column;
}