.navbar{
    background-color: red;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.rotas{
    display: flex;
    justify-content: flex-end;
}

.logoSenai{
    width: 100px;
}